body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-top: 0;
}

#header .container {
  box-sizing: border-box;
  position: fixed;
  width: 300px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(4, 11, 20, 1);
  overflow-y: auto;
  /* border: 1px solid red; */
}

#header .profile img {
  display: block;
  width: 105px;
  border-radius: 50%;
  border: 8px solid rgba(52, 58, 64, 1);
  margin: 15px auto;
}

#header .profile h1 {
  font-size: 25px;
  margin: 0;
  text-align-last: center;
}

#header .profile h1 a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

#header .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

#header .contact img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

#header .nav .selection {
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 20px;
}

#header .nav .selection td {
  color: rgba(4, 11, 20, 1);
  padding-left: 8px;
}

#header .nav .selection p {
  font-size: 17px;
}

#header .selection img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(52, 58, 64, 1);
}

#header .selection p {
  color: white;
  font-size: 15px;
}

#hero .hero-container {
  width: 100%;
  height: 100vh;
  background: url("bg.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding-left: 300px;
  display: flex;
  align-items: center;
}

#hero .hero-container .hero-content h1 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

#hero .hero-container .hero-content p {
  font-size: 26px;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
}

#hero .hero-container .hero-content h1,
#hero .hero-container .hero-content p {
  margin-left: 100px;
  color: #fff;
}

#main .about .container-about {
  padding-left: 300px;
}

#main .section-title {
  width: 97%;
}

#main .section-title h2 {
  color: #173b6c;
  margin-top: 60px;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
}

#main .section-title p {
  text-align: justify;
  margin-bottom: 30px;
  margin-top: 40px;
}

#main .row {
  display: flex;
  flex-direction: row;
}

#main .row img {
  width: 350px;
}

#main .row h2 {
  color: #173b6c;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
}

#main .row .italic {
  font-style: italic;
}

#main .about .row .about-contain {
  padding-left: 30px;
}
